.search {
  .search-card {
    display: flex;
    align-items: center;
    margin-top: 100px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .search-text {
      margin-left: 40px;
      h1 {
        font-family: Gilroy;
        font-size: 32px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #3d3d3d;
      }
      p {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.1em;
        margin: 15px 0;
        color: #3d3d3d;
      }
      h2 {
        font-family: Gilroy;
        font-size: 25px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.1em;

        color: #3d3d3d;
      }
    }
  }
  .home-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    a {
      font-family: Gilroy;
      font-size: 20px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.1em;

      text-align: left;
      padding-top: 10px;
      margin: 0 10px;
      color: #3d3d3d;
      transition: 0.5s;
      display: flex;
      align-items: center;
      &:hover {
        border-bottom: solid 1px #3d3d3d;
      }
    }
  }
  .h1-serh {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d3d3d;
    margin: 100px 0;
  }
}
