#footer {
  margin: 100px 0;
  .footer {
    .footer-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .footer-one {
      display: flex;
      align-items: start;

      flex-direction: column;
      margin-top: 50px;
      h1 {
        font-family: Gilroy;
        font-size: 24px;
        border-bottom: solid 1px #3d3d3d;
        width: 250px;
        height: 35px;

        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-align: left;
      }
      a {
        margin: 12px 0;
        //styleName: p / 14r;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #3d3d3d;
      }
      .footer-p {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        width: 300px;
        letter-spacing: 0em;
        text-align: left;
        color: #3d3d3d;
      }
    }
    .footer-img {
      img {
        width: 50px;
        height: 50px;
        margin: 10px 10px;
      }
    }
    .sate {
      display: flex;
      align-items: center;
      gap: 10px;
      .icons-fot {
        font-size: 20px;
        margin: 0 10px;
      }
    }
  }
  .footer-all {
    display: flex;
    align-content: start;
    justify-content: space-between;
    margin-top: 100px;
  }
}
