#register {
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    gap: 20px;
    .block {
      display: flex;
      align-items: start;
      justify-content: end;
      .blockOne {
        width: 340px;
        height: 50px;
        border-radius: 10px;
        background-color: #333333de;
        h1 {
          font-size: 20px;
          color: red;
          font-weight: 700;
        }
      }
      .blockTwo {
        width: 340px;
        height: 50px;
        border-radius: 10px;
        background-color: #333333de;
        h1 {
          font-size: 20px;
          color: red;
          font-weight: 700;
        }
      }
    }
    .boxx {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .pp {
        font-size: 18px;
        color: black;
        cursor: pointer;
      }
      .p {
        font-size: 18px;
        color: black;
        cursor: pointer;
      }
    }
    .ppp {
      font-size: 20px;
      font-weight: 700;
      color: black;
      padding-top: 70px;
    }
    .registerBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      input {
        width: 300px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border: solid gray 1px;
      }
      button {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        background-color: #333333de;
        color: white;
        font-size: 18px;
        border: solid gray 1px;
      }
    }
    .googleBox {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      .googleImg {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
      .googleBtn {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 18px;
        border: solid gray 1px;
      }
    }
  }
}
