@import "./components/header/header.scss";
@import "./pages/home/home.scss";
@import "./pages/admin/admin.scss";
@import "./pages/Catalog/catalog.scss";
@import "./components/authentication/Register.scss";
@import "./pages/Detail/detail.scss";
@import "./pages/heart/heart.scss";
@import "./pages/Password/password.scss";
@import "./pages/Basket/basket.scss";
@import "./pages/search/search.scss";
@import "./pages/Watch/watch.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 60%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
